.ccFlexColumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.csFlexColumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.ccFlexRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.ceFlexRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}
.scFlexColumn{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.ssFlexColumn{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.scFlexRow{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.ssFlexRow{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.ecFlexColumn{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.ecFlexRow{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.eeFlexRow{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}
.esFlexRow{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}
.bcFlexRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.acFlexRow{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}
.bcFlexColumn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}