.zsAuctionOutSide{
    width:  100%;
    height: 100vh;
    background:url(../../image/Auction/background/AuctionBG.png) no-repeat;
    background-size: cover;
}
.zsAuctionInSide{
    width: 873px;
    height:796px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: url(../../image/Auction/background/box.png);
}
.zsAuctionTitle{
    width: 100%;
    height:127px;
    margin: 0px;
    border: 0px;
    padding:0px;
}
.zsAuctionRule{
    width:100%;
    height:72px;
}
.zsAuctionRuleContent{
    width:664px;
    height: auto;
    text-align: center;
    font-family:SimSun;
    font-size: 0.9rem;
    color: white;
}
.zsAuctionMain{
    width:100%;
    height:76%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.zsAuctionMainTitle{
    width:100%;
    height:72px;
}
.MainTitle{
    width:219px;
    height:40px;
    background: url(../../image/Auction/Title.png);
    margin:14px 0 0 0;
}
.zsAuctionMainRanking{
    width:646px;
    height:412px;
    
}
.scrolldiv{
    width: 638px;
    height: 360px;
    overflow-y: scroll;
    color: white;
}
.scrolldiv::-webkit-scrollbar {/*滚动条整体样式*/
    width: 29px;     /*高宽分别对应横竖滚动条的尺寸*/
    background: url(../../image/Auction/bar/scrollbar.png) no-repeat;
    background-position: center center;
    background-size: contain;
}
.scrolldiv::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
     width:17px;
     height:40px;
    background: url(../../image/Auction/bar/Slider.png);
    background-position: center center;
    background-size: auto 100%;
}
.scrolldiv::-webkit-scrollbar-track {/*滚动条里面轨道*/
    
}
.scrolldiv::-webkit-scrollbar-button{
    height:7px;
}

.zsAuctionMainInfo{
    width:80%;
    height:77px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
}
.zsAuctionMainInfoTime{
    width: 25%;
    height: 50%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.zsAuctionMainInfoTimeTitle{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 0.5rem;
}
.zsAuctionMainInfoTimeContent{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
}
.zsAuctionMainInfoMoney{
    width: 40%;
    height: 50%;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    
}
.zsAuctionMainInfoButton{
    width: 25%;
    height: 50%;
    background:url(../../image/Auction/button.png);
    background-position: center center;
    background-size: 100%;
    cursor: pointer;
}
.zsAuctionMainInfoMoneyInput{
    width:120px;
    height:30px;
    color: white;
    font-size: 1rem;
    background:rgba(18, 17, 15, 255);
    margin-right: 5%;
    border:none;
}
.zsAuctionMainInfoMoneyLogo{
    background:url(../../image/Auction/logo-money.png);
    background-position: center center;
    background-size: 100%;
    width: 45px;
    height:45px;
}
.RankingTitle{
    height:51px;
    width:100%;
}
.RankingTitleReal{
    height:41px;
    width:609px;
    margin-right: 29px;
    background: url(../../image/Auction/RankingTitle.png);
}
.zsAuctionItem{
    width:609px;
    height:24px;
}
.playerInfo{
    width:20%;
}
.closeButton{
    width:100%;
    height:82px;
}
.close{
    background:url(../../image/Auction/Close.png);
    background-position: center center;
    background-size: 100%;
    width: 35px;
    height:35px;
    cursor: pointer;
}

